# Root dependencies and logs
node_modules/
package-lock.json
route_preview.html

# Frontend local environments
frontend/fitness-gps/node_modules/
frontend/fitness-gps/dist/
frontend/fitness-gps/.env*

# Backend Environment secrets
backend/.env

# Python compilation caches
**/__pycache__/
*.pyc
backend/venv/
venv/

# Raw OpenStreetMap Files 
backend/data/*.osm.pbf
backend/ma-osm/

# Compiled Valhalla Assets
backend/data/valhalla_tiles/
backend/data/valhalla_tiles.tar
backend/data/admin_data/
backend/data/timezone_data/
backend/data/*.txt
backend/*.pkl

# Graph Export
backend/data/network_cache.pkl